/*
 * HeroUI Pro Theme
 * Add this to your globals.css after importing @heroui/styles
 * @see https://heroui.com/docs/react/getting-started/theming
 */

/*
 * Font: Inter
 * Load this font in your app:
 * <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet" />
 */
@import "tailwindcss";
@import "@heroui/styles";
@import "@heroui-pro/react/themes/glass";

.glass-light,
[data-theme="glass-light"] {
  /* Theme Colors */
  --muted: oklch(55.17% 0.0060 172.58);
  --scrollbar: oklch(87.10% 0.0030 172.58);
  --accent: oklch(26.21% 0.0487 172.58);
  --success: oklch(73.29% 0.1947 141.06);
  --warning: oklch(78.19% 0.1595 62.58);
  --danger: oklch(65.32% 0.2342 15.99);
  --border: oklch(90.00% 0.0030 172.58);
  --focus: oklch(100.00% 0.0001 263.28);

  /* Border Radius */
  --radius: 1rem;
  --field-radius: 2rem;

  /* Spacing */
  --spacing: 0.265625rem;
}

.glass-dark,
[data-theme="glass-dark"] {
  color-scheme: dark;
  /* Theme Colors */
  --muted: oklch(70.50% 0.0060 172.58);
  --scrollbar: oklch(70.50% 0.0030 172.58);
  --surface-secondary-foreground: oklch(25.70% 0.0000 172.58);
  --surface-tertiary-foreground: oklch(27.21% 0.0000 172.58);
  --accent: oklch(80.30% 0.1657 97.66);
  --success: oklch(73.29% 0.1947 141.06);
  --warning: oklch(82.03% 0.1396 66.59);
  --danger: oklch(59.40% 0.1979 14.88);
  --field-placeholder: oklch(70.50% 0.0000 172.58);
  --segment: oklch(39.64% 0.0030 172.58);
  --border: oklch(28.00% 0.0030 172.58);
  --focus: oklch(100.00% 0.0001 263.28);
}

html,
body {
  min-height: 100%;
}

body {
  font-family: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  background-color: var(--background);
  background-image: var(--background-gradient);
  background-attachment: fixed;
  color: var(--foreground);
}
